--
-- Create model Order
--
CREATE TABLE `orders` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `facility_name` varchar(255) NOT NULL, `phone_number` varchar(20) NOT NULL, `street` varchar(255) NOT NULL, `city` varchar(100) NOT NULL, `zip_code` varchar(20) NOT NULL, `country` varchar(100) NULL, `status` varchar(50) NOT NULL, `order_number` varchar(50) NULL UNIQUE, `delivery_date` date NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL);
--
-- Create model OrderItem
--
CREATE TABLE `order_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `quantity` integer UNSIGNED NOT NULL CHECK (`quantity` >= 0));
