--
-- Add field patient to order
--
ALTER TABLE `orders` ADD COLUMN `patient_id` bigint NOT NULL , ADD CONSTRAINT `orders_patient_id_a093374e_fk_patients_patient_id` FOREIGN KEY (`patient_id`) REFERENCES `patients_patient`(`id`);
