--
-- Add field provider to order
--
ALTER TABLE `orders` ADD COLUMN `provider_id` bigint NOT NULL , ADD CONSTRAINT `orders_provider_id_374ce07c_fk_provider_auth_user_id` FOREIGN KEY (`provider_id`) REFERENCES `provider_auth_user`(`id`);
--
-- Add field order to orderitem
--
ALTER TABLE `order_items` ADD COLUMN `order_id` bigint NOT NULL , ADD CONSTRAINT `order_items_order_id_412ad78b_fk_orders_id` FOREIGN KEY (`order_id`) REFERENCES `orders`(`id`);
--
-- Add field product to orderitem
--
ALTER TABLE `order_items` ADD COLUMN `product_id` bigint NULL , ADD CONSTRAINT `order_items_product_id_dd557d5a_fk_products_id` FOREIGN KEY (`product_id`) REFERENCES `products`(`id`);
--
-- Add field variant to orderitem
--
ALTER TABLE `order_items` ADD COLUMN `variant_id` bigint NULL , ADD CONSTRAINT `order_items_variant_id_c29d5590_fk_product_productvariant_id` FOREIGN KEY (`variant_id`) REFERENCES `product_productvariant`(`id`);
