--
-- Create model Product
--
CREATE TABLE `products` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(255) NOT NULL UNIQUE, `manufacturer` varchar(155) NULL, `description` longtext NULL, `image` varchar(100) NULL, `is_available` bool NOT NULL, `product_url` varchar(300) NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL);
--
-- Create model ProductVariant
--
CREATE TABLE `product_productvariant` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `size` varchar(50) NOT NULL, `is_available` bool NOT NULL, `product_id` bigint NOT NULL);
ALTER TABLE `product_productvariant` ADD CONSTRAINT `product_productvariant_product_id_size_055564d9_uniq` UNIQUE (`product_id`, `size`);
ALTER TABLE `product_productvariant` ADD CONSTRAINT `product_productvariant_product_id_43c5a310_fk_products_id` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`);
