aiohttp
aiohttp-retry
aiosmtpd
arabic-reshaper
azure-core
azure-identity
azure-storage-blob
black
boto3
cryptography
django-anymail
django-ckeditor-5
django-cors-headers
django-jazzmin
django-phonenumber-field
django-sendgrid-v5
django-storages
Django
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
gunicorn
imageio
imageio-ffmpeg
mysqlclient
moviepy
phonenumbers==9.0.11
pyHanko
python-bidi
python-dotenv
pytz
requests
sentry-sdk
sendgrid
setuptools
shortuuid
stripe
svglib
twilio
tzlocal
webencodings
whitenoise>=6.6.0
xhtml2pdf